table {
    position:fixed;
    top:calc((100vh - 50vmin)/2);
    left:calc((100vw - 50vmin)/2);
    height:50vmin; 
    width:50vmin;
    z-index:1;
    background:#ffffff;
 }
 .circle{
   position:relative ;
   width: 50px; 
   height: 50px; 
   border-radius: 25px; 
   left:10px
 }
 #bu1{
  position:fixed;
  top:calc(50vh + 26vmin);
  left:calc(50vw - 25vmin + 10px);
  width:60px;
  height:40px;
  border-radius:15px;
  background-color:#ff00ff;
 }
 #bu2{
  position:fixed;
  top:calc(50vh + 26vmin);
  left:calc(50vw - 30px);
  width:60px;
  height:40px;
  border-radius:15px;
  background-color:#ff00ff;   
 }
 #bu3{
  position:fixed;
  top:calc(50vh + 26vmin);
  left:calc(50vw + 25vmin - 70px);
  width:60px;
  height:40px;
  border-radius:15px;
  background-color:#ff00ff;   
 }
 .moo{
  position:fixed;
  top:calc((100vh - 30vmin)/2);
  left:calc((100vw - 30vmin)/2);
  width:30vmin;
  height:30vmin;
  background:#000000;
  z-index:29;
  border-radius:10px;
  font-size:25px;
  text-align:center;
  color:#00ffff;
 }
 body{
     background:#6e24b8;
 }
 .but{
  position:fixed;
  top:calc(((100vh)/2 + 15vmin - 30px));
  left:calc(((100vw)/2 - 15px));
  width:50px;
  height:30px;
  border-radius:15px;
  background-color:#ff00ff;
  font-size:15px; 
 }
 .tab{
  position:relative;
  top:calc((9vmin - 35px)/2);
  left:calc((7vmin)/2);
  height:19vmin;
  width:23vmin;
 }
 .team{
   position:relative ;
   width: 30px; 
   height: 30px; 
   border-radius: 20px; 
   background:#000000;
   font-size:10px;
 }

 .hell{
  z-index:4;
  position:fixed;
  font-size:25px;
  top:calc((100vh - 40vmin)/2);
  left:calc((100vw - 40vmin)/2);
  background:#ff0000;
  color:#ffff00;
 }
 
